# list

In [10]:
a = ['a', 'b', 'c', 'd', 'e']
del a[0:2]
print(a)

a.append('f')
print(a)

a.insert(2, 'g')
print(a)

a.extend(['a', 'b'])
print(a)

print(a.count('c'))
print(a.index('a'))

a.remove('e')
print(a)

['c', 'd', 'e']
['c', 'd', 'e', 'f']
['c', 'd', 'g', 'e', 'f']
['c', 'd', 'g', 'e', 'f', 'a', 'b']
1
5
['c', 'd', 'g', 'f', 'a', 'b']

In [15]:
a = [3, 1, 4, 5, 2]
print(a)

a.sort()
print(a)

a.reverse()
print(a)

[3, 1, 4, 5, 2]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [18]:
st = ["이황", "이이", "원효"]
print(f"현재 학생은 {st}")
a = input("전학 온 학생은 누구입니까? : ")
st.append(a)
print(st)
print("번호를 정렬합니다.")
st.sort()
b = 0
for i in st :
    b = b + 1
    print(b, i)

현재 학생은 ['이황', '이이', '원효']
['이황', '이이', '원효', '알렉스']
번호를 정렬합니다.
1 알렉스
2 원효
3 이이
4 이황

# tuple

In [23]:
c = tuple(range(1, 15, 2))
print(c)

b = 1, 2, 3
print(type(b))

a = [1, "가", 2, "나"]
b = tuple(a)
print(b)

(1, 3, 5, 7, 9, 11, 13)
<class 'tuple'>
(1, '가', 2, '나')

In [28]:
a = tuple(range(1, 6))

print(a)
print(a[2])
print(a[1:3])

b = list(a[2:4])
print(b)

print(3 in a)
print(3 not in a)

(1, 2, 3, 4, 5)
3
(2, 3)
[3, 4]
True
False

In [31]:
a = (1, 2, 3, 4, 5, 4, 3, 2, 1)

print(a.count(3))
print(a.index(5))

2
4

In [32]:
# 튜플 패킹, 언패킹

pack = 1, 2, 3, 4, 5, 4, 3, 2, 1
a, b, *c = pack

print(f"a는 {a} b는 {b} c는 {c}")

a, b = b, a
print(f"a는 {a} b는 {b}")

a는 1 b는 2 c는 [3, 4, 5, 4, 3, 2, 1]
a는 2 b는 1

# set
mutable
순서 없음

In [1]:
a = [1, 3, 2, 2, 5, 4, 7, 6]
print(set(a))

{1, 2, 3, 4, 5, 6, 7}

In [7]:
a = set(range(1, 6))
b = set(range(3, 8))
c = set(range(1, 3))

print(a|b, a.union(b)) # 합집합
print(a&b, a.intersection(b)) # 교집합
print(a-b, a.difference(b)) # 차집합
print(a^b, a.symmetric_difference(b)) # 대칭차집합
print(c <= a, c.issubset(a)) # 부분집합 검사하기
print(c >= a, c.issuperset(a)) # 상위집합 검사하기
print(c.isdisjoint(b)) # 서로소 검사하기

{1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7}
{3, 4, 5} {3, 4, 5}
{1, 2} {1, 2}
{1, 2, 6, 7} {1, 2, 6, 7}
True True
False False
True

In [14]:
a = set(range(1, 6))
print(a)

a.pop()
print(a)
a.pop()
print(a)

a = [1, 2, 3, 4, 5]
a.pop()
print(a)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
[1, 2, 3, 4]

In [13]:
a = set(range(1, 6))
print(a.pop())
print(a)

# pop 은 임의의 요소를 반환

1
{2, 3, 4, 5}

In [30]:
a = set(range(1, 6))
a.discard(3)
print(a)
a.add(6)
print(a)
a.update({7, 8})
print(a)
print(max(a), min(a))
a.clear()
print(a)

{1, 2, 4, 5}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
8 1
set()

# dictionary
key 변경 불가 value 변경 가능

In [40]:
a = {1 : 'apple', 2 : 'banana', 'three' : 3333, 'four' : '4444'}
print(a[2])
print(a['three'])

a['Alexis'] = 2
print(a)

print(2 in a)
print(3 in a)
print('four' in a)

print(a.pop("three"))

print(a.keys())
print(a.items())
print(a.values())

banana
3333
{1: 'apple', 2: 'banana', 'three': 3333, 'four': '4444', 'Alexis': 2}
True
False
True
3333
dict_keys([1, 2, 'four', 'Alexis'])
dict_items([(1, 'apple'), (2, 'banana'), ('four', '4444'), ('Alexis', 2)])
dict_values(['apple', 'banana', '4444', 2])